/* components.css
 *
 * CSC309 - Tutorial 3
 * University of Toronto
 */

/* Product category heading (category titles) */
main h2 {
    margin: 2em 0 1em 0.5em;
}

/* Message shown when a category has no products */
.products p {
  margin-left: 0.5em;
}

/* -------------------------------------------------- */
/* Part 2A: Products Container                        */
/* -------------------------------------------------- */
.products {
  display: flex;
  flex-wrap: wrap;
  gap:0.25em;
}

/* -------------------------------------------------- */
/* Part 2B: Product Card                              */
/* -------------------------------------------------- */
.card {
  width: 15em;
  padding: 0.5em;
  position:relative;
  
}

/* Add additional rules for product cards below */
.card:hover{
  cursor:pointer;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card.disabled img{
  filter: brightness(50%);
}

.card .name {
  margin-bottom: 0.2em;
}

.card .quantity {
  font-size: 0.8em;
}

.card .price {
  font-size: 0.9em;
}



/* -------------------------------------------------- */
/* Part 2C: Overlay Button                            */
/* -------------------------------------------------- */
.overlay-btn {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  height: 2em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  font-size: 0.8em;
  font-weight: bold;
  background-color: azure;
  z-index:1;
}

.card:hover .overlay-btn{
  visibility:visible;
}

.card.disabled .overlay-btn{
  visibility: visible;
}




/* -------------------------------------------------- */
/* Part 2D: Navigation Links                          */
/* -------------------------------------------------- */
.links a {
  display: block;
  margin-bottom: 0.5em;
  color: #666;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9em;
  position: sticky;
}

.links a:hover {
  color: #999;
}

.links {
  position: sticky;
  top: 2em;
}


/* -------------------------------------------------- */
/* Part 2E: Responsive Design                         */
/* -------------------------------------------------- */
@media (max-width: 590px) {
  .card {
    width: 100%;
  }
}
